body{
  overflow:auto;
}
/****banner****/
 .banner{
  height:600px;
  width:100%;
  overflow:hidden;
  position:relative;
  transition:all .3s linear;
}

/*
.banner-img{
  width:9600px;
  height:600px;
  position: absolute;
  transition:all .3s linear;
}
.img-box>img{
  transition:all 4s linear;
}
.banner-img>li{
  float:left;
}
.img-box{
  position:relative;
} */

/**sofa**/
.welcome{
  background:#444;
  padding:50px 0
}
.sofa>img{
  border-radius:50%;
}
.welcome .text>h1,.welcome .text>p{
  font-family:'Metamorphous', cursive;
  color:#fff;
}
.welcome .text>p{
  font-size:1.3em;
  margin-top:20px;
  line-height:1.5em;
}
@media (max-width: 1024px){
  .sofa>img{
    width: 60%;
    display:block;
    margin:0 auto;
  }
}
.text>.btn{
  float:right;
  margin-right:15px;
  margin-top:20px;
}
.about h1,.about p{
  font-family:'Metamorphous', cursive;
}
.about{
  width:100%;
  margin:100px 0;
}
.about p{
  font-size:1.3em;
  margin-top:20px;
}

.middle{
  margin:150px 0;
  width:100%;
  height:400px;
  position: relative;;
  background:url('../img/index/quote-image1.jpg') no-repeat 300px -100px;
}
.middle>div{
  position: absolute;
  width:300px;
  height:400px;
  left:0;top:0;
  background:#B1AEA7
}
.middle h2{
  width:300px;
  height:400px;
  line-height:1.8em;
  position: absolute;
  z-index:10;
  top:80px;
  left:100px;
}

.design .cols{
  position: relative;
  margin:10px 10px 10px 0;
  float:left;
}
.design .cols>p{
  width:260px;
  height:190px;
  padding:20px 10px;
  line-height:2em;
  background:#444;
  color:#fff;
  position:absolute;
  z-index:-1;
  transform:rotatey(-90deg);
  transition:all .3s linear
}
.design .cols>img{
  display:block;
  width:260px;
  transition:all .3s linear;
}
.design h1{
  margin:50px 0;
}
.design .mask{
  width:260px;
  height:190px;
  position:absolute;
  top:0;
  z-index:100px;
}
@media screen and (max-width:1204px){
  .design .container{
    width:770px;
    margin:0 auto;
  }
  .design .cols>img{
    width:320px;
  }
  .design .cols>p,.design .mask{
    width:320px;
    height:235px;
  }
  .design .cols{
    margin:10px 50px 10px 0;
  }
}
@media screen and (max-width:991px){
  .design .container{
    width:420px;
    margin:0 auto;
  }
  .design .cols>img{
    width:420px;
  }
  .design .cols>p,.design .mask{
    width:420px;
    height:308px;
    padding:20%;
  }
  .design .cols{
    margin:10px;
  }
}
.style{
  margin:100px 0
}
.style>h1{
  margin:50px 0
}
.style .cols{
  float:left;
  position: relative;
  margin-right:20px;
}
.style .cols>img{
  width:250px;
}
.style .mask{
  width:250px;
  height:250px;
  background:#abc;
  position:absolute;
  opacity:0;
  transition:all .3s linear;
  top:66px;
  z-index:20;
}
.style .cols i{
  width:37px;
  height:42px;
  background:url('../img/index/Dumbbell.png') no-repeat;
  position:absolute;
  margin-top:73%;
  top:-21px;
  left:-42px;
  transition:all .3s linear;
  z-index:-1;
}

.style .cols p{
  width:250px;
  padding:10px 20px 20px 0;
}
.style .cols span{
  display:block;
  margin:0 0 10px 0;
  width:50px;
  border-bottom:2px solid #663300
}
.style .cols h3{
  background:url('../img/index/product1.png') no-repeat;
  margin:20px;
  padding-left:40px;
}
@media (max-width:1200px){
  .style .container{
    width:730px;
    margin:0 auto;
  }
  .style .cols{
    margin-right:50px;
  }
  .style .cols>img{
    width:300px;
  }
  .style .mask{
    width:300px;
    height:300px;
  }
  .style .cols p{
    width:300px;
  }
}
@media (max-width:993px){
  .style .container{
    width:400px;
    margin:0 auto;
  }
  .style .cols{
    margin-right:50px;
  }
  .style .cols>img{
    width:400px;
  }
  .style .mask{
    width:400px;
    height:400px;
  }
  .style .cols p{
    width:400px;
  }
}
